<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Taxi Nghĩa</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-...YOUR-INTEGRITY-CODE...=" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<div id="container-1">
		<header>
			<div class="logo">
				<h1><a href="#"><img src="images/logo1.png" alt="Hình ảnh"></a></h1>
			</div>
			<nav class="main-nav">
				<ul>
					<li><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
					<li><a href="#"><i class="fas fa-info-circle"></i> Giới thiệu</a></li>
					<li><a href="#"><i class="fas fa-car"></i> Dịch vụ</a></li>
					<li class="blog-item">
						<a href="#"><i class="fas fa-book"></i> Blog</a>
						<ul class="blog-submenu">
							<li><a href="#">Bài viết 1</a></li>
							<li><a href="#">Bài viết 2</a></li>
							<li><a href="#">Bài viết 3</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="fas fa-envelope"></i> Liên hệ</a></li>
				</ul>
			</nav>
		</header>
		<div>
			<img src="images/img.png" alt="Hình ảnh" class="img1">
			<div class="top-right">
				<a href="tel:+7 (9273) 29 99 09"><img src="images/phone.jpg" alt="Hình ảnh"></a>
				<a href="https://wa.me/892732999098"><img src="images/zalo.png" alt="Hình ảnh"></a>
				<a href="https://vk.com/public180287354"><img src="images/tiktok.png" alt="Hình ảnh"></a>
			</div>
		</div>
		<div id="onaas">
			<h1>Taxi Nghĩa - Nhanh chóng, tiết kiệm, đáng tin cậy!</h1>
			<p>Chúng tôi đã hoạt động trên thị trường vận chuyển hành khách hơn 10 năm.
				Trong thời gian đó, chúng tôi đã giành được sự tin tưởng và tôn trọng từ hành khách và tài xế.
				Điều này được chứng minh bằng số lượng đánh giá tích cực và nhận xét,
				và chúng tôi chân thành cảm kích với mọi người.</p>
			<p>Taxi Nghĩa cam kết chú trọng vào việc lựa chọn tài xế một cách chuyên nghiệp và nghiêm túc,
				đảm bảo cung cấp những chuyến đi an lành và thoải mái cho cả trẻ em và người lớn.
				Chúng tôi cũng cung cấp ghế trẻ em để đảm bảo an toàn cho hành khách nhỏ tuổi.</p>
		</div>
	</div>

	<div id="container-2">
		<h1>Dịch vụ của chúng tôi</h1>
		<div class="flex-container">
			<div class="element-1"><img src="images/img2-1.png" alt="Hình ảnh"><br>Luôn kết nối<br>Nhận đặt trước</div>
			<div class="element-2"><img src="images/img2-2.png" alt="Hình ảnh"><br>Đón và trả khách tại địa chỉ</div>
			<div class="element-3"><img src="images/img2-3.png" alt="Hình ảnh"><br>Dịch vụ giao hàng<br>Giao bất kỳ hàng
				hóa nào có thể chứa trong xe</div>
			<div class="element-4"><img src="images/img2-4.png" alt="Hình ảnh"><br>Cung cấp các tài liệu báo cáo<br>Hóa
				đơn trực tuyến với mã QR cho tất cả!</div>
		</div>
	</div>


	<div class="pop" id="3">
		<div class="koguvcavis-varazdel">
			<div class="sestim-donials">
				<h1>Đánh giá</h1>
				<div class="sagestim-lonials">
					<div class="vemotau-vokusipol">
						<div class="testimonial">
							<img src="images/img3-1.jpg" alt="">
							<div class="gecedanam" name="3">Irina</div>
							<p>Tôi đã sử dụng dịch vụ taxi không phải lần đầu tiên và không có điều gì xấu
								để nói về dịch vụ taxi. Nhân viên tử tế,
								tài xế đúng giờ và giá cả không đắt hơn các công ty khác.</p>
						</div>
					</div>

					<div class="vemotau-vokusipol">
						<div class="testimonial">
							<img src="images/img3-2.jpg" alt="">
							<div class="gecedanam">Ruslan Tuktarov</div>
							<p>Xe sạch sẽ, tài xế thân thiện, tôi rất hài lòng với mọi thứ.</p>
						</div>
					</div>

					<div class="vemotau-vokusipol">
						<div class="testimonial">
							<img src="images/img3-2.jpg" alt="">
							<div class="gecedanam">Valeria Kamarova</div>
							<p>Tôi rất hài lòng vì xe đến đúng giờ và tài xế rất hợp tác.
								Giá cả cũng hợp lý.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex-container-contact" id="contact">
		<div class="element-31">
			<img src="images/img4.jpg" alt="Hình ảnh">
		</div>
		<div class="element-32">
			<div class="contact-info">
				<h1>Bạn có thể liên hệ với chúng tôi 24/7</h1>
				<h2>
					<a href="tel:+7 (9273) 29 99 09">8-927-329-99-09 </a><br>
					<a href="tel:+7 (9613) 68 68 68">8-961-368-68-68</a><br>
					<a href="https://vk.com/public180287354"><img src="images/img1-4.png" alt="Hình ảnh"></a>
					<a href="https://wa.me/892732999098"><img src="images/img1-3.png" alt="Hình ảnh"></a>
				</h2>
			</div>
			<div class="map-container">
				<div id="map"></div>
			</div>
		</div>
	</div>
	
	<div data-modal-window="my_modal1" class="modal">
		<div class="modal_content">
			<div class="modal_inner">
				<div class="modal_title">
					<h1>Việc làm</h1>
				</div>
				<div class="close_modal_window">&times;</div>
			</div>
			<h2>Cần tài xế có xe cá nhân cho dịch vụ vận chuyển liên tỉnh</h2>
			<h2>Chúng tôi cung cấp:</h2>
			<ul type="square">
				<li>Thời gian làm việc linh hoạt hoàn toàn</li>
				<li>Thu nhập hàng ngày từ 4.500 Ruble</li>
				<li>Dòng đơn đều đặn</li>
				<li>Hỗ trợ trong mọi vấn đề tranh chấp</li>
			</ul>
			<h2>Yêu cầu:</h2>
			<ul type="square">
				<li>Kinh nghiệm lái xe trên 10 năm</li>
				<li>Chịu được áp lực</li>
			</ul>
			<h3>Liên hệ qua số điện thoại 89191432116</h3>
		</div>
	</div>
	<div id="f5">
		<div>
			<a href="#onaas">
				<p>Về chúng tôi</p>
			</a>
			<a href="#container-2">
				<p>Dịch vụ của chúng tôi</p>
			</a>
			<a href="#3">
				<p>Đánh giá</p>
			</a>
		</div>
		<div>
			<a href="#4">
				<p>Liên hệ</p>
			</a>
			<a href="#5">
				<p>Cơ hội việc làm</p>
			</a>
		</div>
		<div id="f5">
			<p>© 2010 - 2022 Taxi "Nghĩa" Meleuz-Ufa-Meleuz</p>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
		<script src="js/script1.js"></script>
</body>

</html>