<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Такси Абсолют</title>
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
<div id="container-1">
<div>
<img src="images/img1-1.jpg" alt="изображение" class="img1">
<div class="top-right">
<a href="tel:+7 (9273) 29 99 09" ><img src="images/img1-2.png" alt="изображение"></a>
<a href="https://wa.me/892732999098"><img src="images/img1-3.png" alt="изображение"></a>
<a href="https://vk.com/public180287354"><img src="images/img1-4.png" alt="изображение"></a>
</div>
</div>
<div id="onaas">
	<h1>Абсолют такси - быстро, выгодно, надёжно!</h1>
	<p>Мы работаем на рынке пассажирских перевозок уже более 10 лет. 
За это время мы смогли заслужить доверие и уважение среди пассажиров и водителей. 
Подтверждением тому является большое количество положительных оценок и отзывов, 
за которые мы глубоко всем благодарны.</p>
	<p>Такси Абсолют гарантирует профессиональный и строгий подход к отбору водителей, 
	что позволяет обеспечить пассажирам спокойные и комфортные поездки для детей и взрослых. 
Также для безопасности маленьких пассажиров мы предоставляем детские кресла.</p>
</div>
</div>

<div id="container-2"><h1>Наши услуги</h1>
<div class="flex-container">
	<div class="element-1"><img src="images/img2-1.png" alt="изображение"><br>Всегда на связи<br>Принимаем предзаказы</div>
	<div class="element-2"><img src="images/img2-2.png" alt="изображение"><br>Забираем с адреса и довозим до адреса</div>
	<div class="element-3"><img src="images/img2-3.png" alt="изображение"><br>Оказываем курьерские услуги<br>Доставим любой груз, который поместиться в машину</div>
	<div class="element-4"><img src="images/img2-4.png" alt="изображение"><br>Выдаем отчетные документы<br>Онлайн чеки с QR - кодом для всех!</div>
</div>
</div>


<div class="pop" id="3">
<div class="koguvcavis-varazdel">
  <div class="sestim-donials">
  <h1>Отзывы</h1>
  <div class="sagestim-lonials">
  <div class="vemotau-vokusipol">
  <div class="testimonial">
  <img src="images/img3-1.jpg" alt="">
  <div class="gecedanam" name="3">Ирина</div>
  <p>Обращаюсь не в первые, ни чего плохого
  о службе такси сказать не могу. Операторы вежливы, 
  таксисты пунктуальные, и расценки не дороже, чем в других компаниях.</p>
  </div>
  </div>

  <div class="vemotau-vokusipol">
  <div class="testimonial">
  <img src="images/img3-2.jpg" alt="">
  <div class="gecedanam">Руслан Туктаров</div>
  <p>Машины чистые, водители приветливые, всё понравилось</p>
  </div>
  </div>

  <div class="vemotau-vokusipol">
  <div class="testimonial">
  <img src="images/img3-2.jpg" alt="">
  <div class="gecedanam">Валерия Камарова</div>
  <p>Понравилось, что автомобиль
  приехал вовремя, а водитель был адекватный. 
  Стоимость поездки также устроила.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>


<div class="flex-container2" id="4">
	<div class="element-31"><img src="images/img4.jpg" alt="изображение" class="u"></div>
	<div class="element-32">
		<h1>Связаться с нами вы можете 24/7</h1>
		<h2><a href="tel:+7 (9273) 29 99 09">8-927-329-99-09 </a><br>
		<a href="tel:+7 (9613) 68 68 68">8-961-368-68-68</a><br>
		<a href="https://vk.com/public180287354"><img src="images/img1-4.png" alt="изображение"></a>
		<a href="https://wa.me/892732999098"><img src="images/img1-3.png" alt="изображение"></a></h2>
	</div>
</div>


<div class="flex-container3" id="5">
	<div class="element-41"><img src="images/img5.jpg" alt="изображение" class="u"></div>
	<div class="element-42">
		<h1>Работа для водителей</h1>
		<button data-modal-btn="my_modal1">Узнать подробнее</button>
	</div>
</div>
<div data-modal-window="my_modal1" class="modal">
    <div class="modal_content">
      <div class="modal_inner">
	  <div class="modal_title"><h1>Вкансия</h1></div>
      <div class="close_modal_window">&times;</div>
      </div>
      <h2>Требуются водитель с личным авто для междугородних перевозок</h2>
	  <h2>Мы предлагаем:</h2>
		<ul type="square">
			<li>полностью свободный график работы</li>
			<li>ежедневный доход от 4500 руб</li>
			<li>стабильный поток заказов</li>
			<li>помощь в любых спорных вопросах</li>
		</ul>
	  <h2>От вас требуется:</h2>
	  <ul type="square">
	  <li>Стаж вождения более 10 лет</li>
	  <li>Стресоустойчивость</li>
	  </ul>
	  <h3>Обращаться по телефону 89191432116</h3>
    </div>
  </div>
<script src="js/script1.js"></script>



<div id="f5">
<div>
<a href="#onaas"><p>О нас</p></a>
<a href="#container-2"><p>Наши услуги</p></a>
<a href="#3"><p>Отзывы</p></a>
</div>
<div>
<a href="#4"><p>Контакты</p></a>
<a href="#5"><p>Карьера</p></a>
</div>
<div id="f5"><p>© 2010 - 2022 Такси "Абсолют" Мелеуз-Уфа-Мелеуз</p></div>
</body>
</html>